<div class="flex items-center w-full relative mb-2 justify-between hover:bg-gray-300 rounded transition-colors duration-200"
     onclick="showMessages('{{ session.session_id }}')">
    <p class="text-left w-full text-sm font-semibold text-gray-800 py-2 px-3 rounded">
        {{ session.session_name }}
    </p>

    <!-- Menú de opciones -->
    <div class="relative group">
        <button class="px-2 py-1 text-gray-600 hover:text-gray-800"
                onclick="toggleMenu(event, '{{ session.session_id }}')">
            &#x22EE; <!-- Ícono de tres puntos verticales -->
        </button>

        <!-- Tooltip para el botón de tres puntos -->
        <span class="absolute left-1/2 transform -translate-x-1/2 -translate-y-full bg-gray-800 text-white text-xs rounded py-1 px-2 opacity-0 group-hover:opacity-100 transition-opacity duration-300">
                                        Opciones
                                    </span>
    </div>

    <!-- Menú desplegable con opciones -->
    <div id="menu-{{ session.session_id }}"
         class="hidden absolute right-0 mt-1 w-32 bg-black text-white py-2 px-3 rounded-lg shadow-lg z-10">
        <span class="block mb-1">Opciones</span>
        <button class="w-full text-red-600 font-semibold py-1 px-3 rounded hover:bg-red-700 hover:text-white"
                onclick="deleteSession('{{ session.session_id }}')">
            Eliminar
        </button>
    </div>
</div>